* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
:root {
  --text-color: #f5f5f5;
  --hover-color: #12f2ff;
  --bg-color: #0f0f0f;
  --big-font: 2.5rem;
  --norma-font: 2rem;
  --neon-box-shadow: 0 0 0.5rem #12f2ff;
  --h2-font: 3rem;
  --picker: #022b55;
}
body {
  font-family: poppins, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 10px 20px;
}
header .logo {
  font-size: 22px;
  letter-spacing: 1px;
  padding-left: 10px;
}
span {
  color: var(--hover-color);
}
header .navlist ul {
  display: flex;
}
.navlist ul li {
  margin: 0 5px;
}
.navlist ul li a {
  color: var(--text-color);
  transition: 0.5s;
  text-decoration: none;
}
.navlist ul li a:hover {
  color: var(--hover-color);
}

.menu {
  background-color: var(--hover-color);
  font-size: 19px;
  color: var(--bg-color);
  display: inline-block;
  padding: 0 5px;
  margin-left: 20px;
  border-radius: 3px;
  display: none;
}
.xx {
  display: none;
}

/* home */
section.home,
section.about {
  height: 100vh;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
}
.home-kotak {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
}
.home .kotak2 {
  margin: 20px auto;
}

.home .kotak1 h3,
.about h3 {
  font-size: 24px;
  letter-spacing: 1px;
}
.home .kotak1 p,
.about p {
  font-size: 14px;
  font-weight: 200;
  line-height: 25px;
}
.info-box {
  display: flex;
  width: 300px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.info-box p {
  font-size: 13px;
}
.info-box h5 {
  font-size: 16px;
}

.box-btn {
  width: 320px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  display: inline-block;
}
.box-btn .btn,
.forto-btn span,
.contac .btn {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  font-size: 14px;
  padding: 7px 18px;
  border-radius: 10px;
  position: relative;
}
.box-btn .btn:nth-child(2) {
  margin-left: 50px;
}
.box-btn .btn:nth-child(1) {
  background-color: var(--hover-color);
  color: var(--bg-color);
}
.box-btn .btn:nth-child(1):hover {
  background-color: var(--bg-color);
  color: var(--hover-color);
}
.box-btn .btn::before,
.about-btn .abtn::before,
.forto-btn span::before,
.contac .btn::before {
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  position: absolute;
  background-color: var(--hover-color);
  border-radius: 10px;
  z-index: -1;
  transition: all 0.8s;
}
.box-btn .btn:hover::before,
.abtn:hover::before,
.forto-btn span:hover::before,
.contac .btn:hover::before {
  width: 100%;
}
.about-btn .abtn {
  position: relative;
}
.about-btn .abtn:hover,
.contac .btn:hover {
  transition: all 0.5s;
  color: var(--bg-color);
}
.box-btn .btn:hover {
  color: var(--bg-color);
}
.home-icon {
  width: 300px;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
.home-icon a {
  padding: 7px;
  border: 1px solid var(--hover-color);
  border-radius: 5px;
  position: relative;
  transition: all 0.5s;
}
.home-icon a i {
  color: #f5f5f5;
}
.home-icon a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: var(--hover-color);
  height: 100%;
  border-radius: 5px;
  z-index: -1;
}
.home-icon a:hover::before {
  width: 100%;
}
.home-icon a:hover i {
  color: var(--bg-color);
}
.home-icon a:hover {
  transform: translateY(-10px);
}
.home .kotak2 .gambar img {
  border-radius: 50%;
  max-width: 90%;
}
.kotak2 .gambar img,
.about-kotak .about-satu img {
  border: 3px solid var(--hover-color);
  box-shadow: 0 0 20px var(--hover-color);
}
.about-kotak .about-satu img {
  border-radius: 50%;
  max-width: 70%;
}

/* about mee */
section.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
section.about .about-kotak {
  display: flex;
  justify-content: space-evenly;
}
section.about .about-kotak .about-satu {
  flex-basis: 40%;
}
section.about .about-kotak .about-dua {
  flex-basis: 45%;
}
.about-btn .abtn {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  font-size: 14px;
  padding: 7px 18px;
  border-radius: 10px;
  margin: 20px 0;
  display: inline-block;
  transition: all 0.5s;
}
section.about .about-kotak .about-dua p {
  line-height: 30px;
  margin-top: 15px;
}

/* services */
.services {
  min-height: 100vh;
  max-width: 95%;
  margin: auto;
  margin-top: 80px;
  margin-top: 50px;
}
.services .judul {
  text-align: center;
  margin-top: 60px;
}
.judul h5 {
  font-weight: 300;
  font-size: 13px;
}
.judul h2 {
  margin: 10px 0;
  font-weight: 600;
}
.services-kotak {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.services-kotak .item-services {
  max-width: 90%;
  max-width: 100%;
  /* height: 100%; */
  background-color: rgba(110, 130, 151, 0.404);
  padding: 15px 10px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: all 0.5s;
  text-align: center;
}
.services-kotak .item-services:hover {
  transform: translateY(-10px);
  background-color: #0a7379;
}
.services-kotak .item-services:hover p {
  color: #fff;
  font-size: 13px;
  font-weight: 200;
}
.services-kotak .item-services .icon-services {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border: 1px solid var(--hover-color);
  width: 60px;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 30px;
  margin-top: -20px;
  color: var(--hover-color);
  font-size: 19px;
}
.services-kotak .item-services i {
  left: 50%;
  margin: auto;
  transform: translateY(50%);
}
.services-kotak .item-services h3 {
  font-size: 20px;
  margin: 15px 0;
  display: inline-block;
}
.services-kotak .item-services p {
  font-size: 13px;
  font-weight: 80;
  line-height: 25px;
  color: #cacaca;
}
.services-kotak .item-services .abtn {
  margin-top: 20px;
  text-decoration: none;
}
/* frtofolio */
.fortofolio {
  min-height: 100vh;
  margin: 80px auto;
  width: 90%;
}
.forto-kotak {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.forto-kotak .kotak-1 {
  width: 300px;
  height: 400px;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
}
.forto-kotak .kotak-1 .gambar {
  max-width: 100%;
  height: 100%;
}
.forto-kotak .kotak-1 .gambar img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.forto-kotak .kotak-1 .gambar img:hover {
  transform: scale(1.2);
  display: inline-block;
}
.fortofolio .judul-forto h2 {
  text-align: center;
}
.fortofolio .forto-kotak .teks {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.5), #12f2ff);
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  transition: 1s;
  transform: translateY(100%);
}
.fortofolio .kotak-1:hover .teks {
  transform: translateY(0);
}

.fortofolio .forto-kotak .teks h5 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 500;
}
.fortofolio .forto-kotak .teks p {
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}
.fortofolio .forto-kotak .teks .icon-fortofolio {
  padding: 5px 10px;
  font-size: 18px;
  background-color: var(--text-color);
  border-radius: 50%;
  text-align: center;
  color: var(--bg-color);
  margin-top: 10px;
}

.fortofolio .forto-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.forto-btn span:hover {
  color: var(--bg-color);
}
/* contac */
.contac {
  width: 90%;
  margin: auto;
}
.contac .row {
  display: flex;
  flex-wrap: wrap;
}
.contac .contac-left {
  flex-basis: 35%;
}
.contac .contac-right {
  flex-basis: 60%;
}
.contac-left h3 {
  font-size: 30px;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 20px;
}
.contac-left p {
  font-size: 14px;
  color: var(--text-color);
  margin: 15px 0;
}
.contac-left p i {
  color: var(--hover-color);
  margin-right: 10px;
  display: inline-block;
}
.contac .contac-icon {
  margin-bottom: 10px;
}
.contac .contac-icon i {
  font-size: 16px;
  margin: 10px 6px;
  transition: transform 0.5s;
  display: inline-block;
}
.contac .contac-icon i:hover {
  color: var(--hover-color);
  transform: translateY(5px);
}
.contac .btn.active {
  margin-top: 20px;
  display: inline-block;
}
.contac .contac-right {
  width: 100%;
}
.contac-right input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: var(--text-color);
  background-color: rgba(102, 92, 92, 0.781);
  border: 0;
  outline: none;
  border-radius: 5px;
}
.contac-right button {
  padding: 7px 15px;
  border-radius: 7px;
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
  font-size: 15px;
  transition: 0.5s;
}
.contac-right button:hover {
  border: none;
  outline: none;
  background-color: var(--bg-color);
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}
/* copyright */
.copy {
  text-align: center;
}
.copyright {
  max-width: 100%;
  background-color: rgb(95, 89, 89);
  padding: 20px 0;
  margin-top: 80px;
}
.copyright .cp-atas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  justify-content: center;
  gap: 20px;
  margin-left: 40px;
}
.copyright .cp-atas p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 200;
}
.copyright p {
  font-size: 14px;
  font-weight: 300;
}
.copyright p i {
  color: red;
}
.garis {
  height: 0.5px;
  background-color: #807979;
  border: none;
  margin: 20px 0;
}
.cp-icon {
  display: flex;
  justify-content: center;
  gap: 19px;
}
.cp-icon i {
  border: 1px solid #fff;
  padding: 4px 6px;
  border-radius: 50%;
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
  .navlist {
    position: fixed;
    top: 50px;
    right: -200px;
    height: 350px;
    width: 200px;
    background-color: var(--text-color);
    /* max-width: 250px; */
    border-radius: 10px;
    transition: 0.5s;
    z-index: 3;
    overflow: hidden;
  }
  header .navlist ul li a {
    color: var(--bg-color);
  }
  .navlist ul {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-align: left;
    align-items: flex-start;
  }
  .navlist .xx {
    display: block;
    color: #250821;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .navlist ul li {
    display: flex;
    justify-content: center;
    padding: 7px 0;
  }

  .home-kotak {
    display: flex;
    flex-wrap: wrap;
  }
  .home-icon {
    margin-top: 30px;
  }
  .home .kotak1 {
    order: 2;
  }
  .home .kotak1 {
    order: 1;
  }
  .kotak2 .gambar {
    width: 250px;
  }
  .home-kotak .kotak1 {
    text-align: center;
  }
  .info-box {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .home-icon,
  .box-btn {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
  }
  .about-satu .gambar {
    width: 90%;
    text-align: center;
    margin: auto;
    max-width: 75%;
  }

  .about .about-dua {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  section.about {
    margin-top: 90px;
  }
  section.about .about-kotak {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  section.about .about-kotak .about-satu {
    flex-basis: 100%;
  }
  section.about .about-kotak .about-dua {
    flex-basis: 100%;
  }
  /* services */
  .services-kotak {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .services-kotak .item-services {
    width: 80%;
    margin: 10px auto;
    /* height: 430px; */
    height: 100%;
  }
  .services-kotak .item-services .icon-services {
    font-size: 15px;
    width: 50px;
    height: 50px;
  }
  .services-kotak .item-services h3 {
    font-size: 17px;
  }
  /* fotofolio */
  .forto-kotak .kotak-1 {
    width: 350px;
    height: 350px;
  }
  /* contac */
  .contac-left h3 {
    font-size: 26px;
  }

  /* .btn-close {
  position: relative;
  z-index: 1000;
} */
}

@media (max-width: 578px) {
  .navlist ul li a {
    font-size: 14px;
  }
  .home {
    max-width: 100%;
    margin: auto;
  }
  .kotak2 .gambar {
    width: 200px;
  }
  .home img {
    width: 100%;
  }
  .home-kotak {
    display: flex;
    flex-wrap: wrap;
  }
  .home .home-kotak {
    margin-top: 20px;
  }
  .home .kotak1 {
    text-align: center;
  }
  .home .kotak1 h3,
  .about h3 {
    font-size: 20px;
  }
  .box-btn {
    text-align: center;
  }
  .info-box {
    display: flex;
    width: 90%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .home-icon {
    width: 90%;
    text-align: center;
    margin: 20px 0;
    display: block;
  }
  .home-icon a {
    margin: 0 10px;
  }
  .info-box {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
  }

  .box-btn {
    max-width: 100%;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
  }
  .box-btn .btn:nth-child(2) {
    margin-left: -15px;
  }

  .box-btn .btn {
    padding: 7px 8px;
    font-size: 13px;
  }
  .about {
    margin-top: 80px;
  }
  .about .about-dua {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .about .about-dua p {
    font-size: 13px;
  }
  .about .about-dua .abtn {
    font-size: 13px;
  }
  /* services */
  .services-kotak {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .services-kotak .item-services {
    width: 90%;
    margin: 10px auto;
  }

  /* contac */
  .contac .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .contac .contac-left {
    flex-basis: 100%;
  }
  .contac .contac-right {
    flex-basis: 100%;
  }
  .contac-left {
    margin-bottom: 20px;
  }
  .contac-left h3 {
    font-size: 23px;
  }
  .cp-icon i {
    font-size: 12px;
  }
  .cp-icon {
    gap: 10px;
  }
  .copyright .cp-atas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
  }
  .copyright .item h4 {
    font-size: 16px;
  }
  .copyright .item {
    line-height: 15px;
  }
  /* fortofolio */
  .forto-kotak .kotak-1 {
    width: 100%;
    max-width: 340px; /* tetap ada batas maksimal */
    height: 400px; /* biar tinggi ikut isi */
    margin: 20px auto; /* tengah */
    position: relative;
    overflow: hidden;
  }
}

@media (max-width: 400px) {
  .forto-kotak .kotak-1 {
    max-width: 90%;
    height: 380px;
  }
}
@media (max-width: 340px) {
  .info-box .lom-info {
    margin-top: -25px;
  }
}
